*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
h1{
    font-size: 10vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    width: 100vw;
    background-image: url(https://img.freepik.com/free-photo/colorful-design-with-spiral-design_188544-9588.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}